{% extends 'base.html' %}

{% block title %}Статьи{% endblock %}

{% block content %}
  {% if object_list.count == 0 %}
  <h1>Статей пока нет:(</h1>
<p>Пока что никто не добавил статьи. Вы можете <a href="{% url 'article_new' %}">создать свою</a>!</p>
  {% endif %}
  {% for article in object_list %}
    <div class="card">
      <div class="card-header">
        <span class="font-wieght-bold"><a href="{% url 'article_detail' article.pk%}">{{ article.title }}</a></span> &middot;
        <span class="text-muted">автор: {{ article.author }} | создано: {{ article.date }}</span>
      </div>
      <div class="card-body">
        {{ article.body }}
        <a href="{% url 'article_edit' article.pk %}">Изменить</a> |
        <a href="{% url 'article_delete' article.pk %}">Удалить</a>
      </div>
      <div class="card-footer">
        {% for comment in article.comments.all %}
          <p>
            <span class="font-weight-bold">{{ comment.author }}</span>
            {{ comment }}
          </p>
        {% endfor %}
      </div>
    </div>
    <br />
  {% endfor %}
{% endblock content %}